<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <% if user_signed_in? %>
    <p>
      Logged in as: <strong><%= current_user.email %></strong><br>
      Role: <strong><%= current_user.role.titleize %></strong>
    </p>

  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?" } %>

  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
